@import "tailwindcss";

.option.active {
  background-color: #e0f2fe !important;
  border: 2px solid #0284c7 !important;
  padding:6px;
  color: #0369a1 !important;
  border-radius: 0.375rem;
}

.option.active span {
  color: #0369a1 !important;
  font-weight: 600;
}

/* Ensure drawing board can host absolutely positioned overlays */
.drawing-board {
  position: relative;
}

